.container {
  border: 1px black solid;
}

body {
  background-color: pink;
}

.profile-photo {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.profile-photo img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;

}