.container {
  border: 1px black solid;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,53,180,1) 0%, rgba(198,162,160,1) 100%); 
  font-family: "Roboto Mono";
  color:white;
}
body, html {
  height: 100%
}

.bgimg{
  min-height: 95%;
  background-position: center;
  background-size: cover;
}

.bgimg{
  background-image:url(../images/dottonbori-background.jpg);
}


/* .profile{
} */

.name, .profile-photo, .personal-bio{
  text-align: center;
}

.profile-photo {
  height: 150px;
}


#who-am-i{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.introduction > li{
  width:100%;
}
.hvr-bounce-to-right:before{
  transition-duration: 1s;
}


.working>li.hvr-bounce-to-right:before {
  background:#f1c40f;
}